* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.App {
  text-align: center;
  background-color: #0095ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  width: 330px;
  height: 450px;
  border-radius: 15px;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}

.add-todo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-todo input {
  padding: 10px 3px 10px 6px;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 200px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.task div:first-of-type {
  display: flex;
  align-items: center;
}

.task p {
  overflow-x: hidden;
  max-width: 180px;
}

.input-task {
  border: none;
  color: #003eb9;
  max-width: 180px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.task input {
  margin-right: 10px;
}

.pen {
  position: relative;
  cursor: pointer;
}

.pen-img {
  position: absolute;
  left: -33px;
}

.btn-add {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #7dff7b;
}

.remove-all-todo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #f87272;
}

.list-todos {
  flex-grow: 1;
  overflow-y: auto;
}

.list-todos > div {
  border-radius: 5px;
}

.remove-task {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f87272;
}

.done {
  background-color: #d8ffd4;
}

.navigation {
  margin-top: 10px;
}

.navigation span {
  border: none;
  background-color: rgba(110, 97, 255, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.navigation input {
  display: none;
}

.navigation label + label {
  margin-left: 5px;
}

.navigation input:checked + span {
  background-color: #6e61ff;
}
